@{
    string texto = "Página Incial";
    Layout = "_Layout";
    ViewData["Title"] = texto;
}
<div class="row">
    <div class="col">
        <img src="/lion-66898_960_720.webp" />
    </div>
    <div class="col">
        <h1>Boas vindas</h1>
        <p>HTML + C# (Com limitações) == RAZOR == .cshtml</p>
        <hr />
        <a asp-controller="PessoaFisica" asp-action="Criar">Adicionar pessoa física</a> <br/>
        <a href="/PessoaFisica/Index">Visualizar pessoas físicas</a>
    </div>
</div>
    
