@{
    Layout = "_Layout";
    ViewData["Title"] = "Políticas de privacidade";
}

<h1>Políticas de privacidade</h1>
<input name="Nome" />

@{
    for(int i = 0; i < 10; i++)
    {
        <h2>Sessão de número @i</h2>
    }

    PessoaFisica pessoa = new PessoaFisica();
    pessoa.Nome = "Vitor";
    pessoa.Sobrenome = "Norton";

    ViewData["Usuario"] = pessoa;
}