@model List<Categoria>
@{
    ViewData["Title"] = "Início";
}
<a href="/Gatinhos/Adicionar">Adicionar categoria</a>


<div class="row">
    @{
        foreach(var item in Model)
        {
            <div class='col-4'>
                <div class="card">
                    @{
                        if (!string.IsNullOrEmpty(item.UrlDaCapa))
                        {
                            <img src="@item.UrlDaCapa" class="card-img-top" alt="@item.Nome" />
                        }
                    }
                    <div class="card-body">
                        <h5 class="card-title">@item.Nome</h5>
                        <p class="card-text">@item.Descricao</p>
                        <a href="/Gatinhos/Visualizar/@item.Id">Visualizar categoria</a>
                    </div>
                </div>
            </div>
        }
    }
</div>