@using GatinhosFofinhos.Models.ViewModels
@model VisualizarViewModel

<h2>@Model.Categoria.Nome</h2>
<p>@Model.Categoria.Descricao</p>

<div class="row">
    @{
        foreach(var item in Model.Lista)
        {
            <div class="col-3">
                <img src="@item.Url" class="rounded img-fluid img-thumbnail">
            </div>
        }
    }
</div>
<br />
<hr />
<div class="row">
    <div class="col">
        <a class="btn btn-primary" role="button" href="/">Voltar</a>

        <a class="btn btn-primary" role="button" href="/Gatinhos/Editar/@Model.Categoria.Id">Editar</a>
        <form method="post" asp-action="Deletar" asp-route-id="@Model.Categoria.Id">
            <input type="submit" class="btn btn-danger" value="Excluir esse categoria" />
        </form>
    </div>
</div>