@model List<PessoaJuridica>

<h1>Lista de empresas cadastradas</h1>
<hr />
<a href="/PessoaJuridica/Criar">Adicionar nova pessoa</a>
<div class="row">
    @{
        foreach(PessoaJuridica pessoa in Model)
        {
            <div class="col-3">
                <div class="card">
                  <div class="card-body">
                    <h5 class="card-title">@pessoa.Nome</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Nº da conta: @pessoa.ContaCorrente.NumeroDaConta</h6>
                    @{
                        if (!string.IsNullOrEmpty(pessoa.Endereco))
                        {
                            <p class="card-text"><strong>Endereço:</strong> @pessoa.Endereco</p>
                        }
                    }
                    <a href="/PessoaJuridica/@pessoa.Id/Visualizar" class="btn btn-primary">Mais info</a>
                  </div>
                </div>
            </div>
        }
    }
</div>